footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer img {
    vertical-align: middle;
}

footer h4 {
    text-align: left;
    margin-top: 20px;
}

footer p {
    text-align: left;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 0 0 48%; 
}
