footer {
    padding: 20px;
    background-color:black;
    color: white;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
}

.footer-column input[type="email"] {
    width: calc(100% - 80px);
    padding: 5px;
}

.footer-column input[type="submit"] {
    padding: 5px;
    width: 70px;
}